@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 40%;
  margin: 1rem;
  padding: 2rem;
  text-align: left;
}
.love-paragraph {
  padding: 0.5rem;
}

.love-paragraph > h1 {
  color: hsl(300, 43%, 22%);
}

.love-paragraph > p {
  color: hsl(303, 10%, 53%);
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.rat1 {
  background-color: hsl(300, 24%, 96%);
  width: 60%;
  margin: 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.rat1 h3 {
  color: hsl(300, 43%, 22%);
}
.r1 {
  margin-right: 3rem;
}
.r3 {
  margin-left: 3rem;
}
.checked {
  color: orange;
}

.testimonial-container {
  grid-column: 1 / span 2;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.testimonial1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  height: 70%;
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.f2 {
  margin-top: 2rem;
}
.f3 {
  margin-top: 4rem;
}

.testimonial1 > img {
  width: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonial1 > p {
  grid-column: 1 / span 2;
}
